
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/preload.php
.idea/
.env
composer.lock
symfony.lock
migrations/*
var/*
###< symfony/framework-bundle ###
